<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Stock Events Calendar</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="calendar" class="page">
        <div class="page-content">
			<div class="content-block">
				<div style="padding:0; margin-right:-15px; width:auto" class="content-block-inner">
					<div id="calendar-inline-container"></div>
				</div>
			</div>   
			<div class="content-block inset">
				<div id="event-detail" class="content-block-inner">
					
				</div>
			</div>
        </div>
    </div>
</div>

