<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">My Holdings</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="holdings" class="page">
        <div class="page-content">
		<!-- Inset content block -->
			<div class="content-block inset">
				<div class="content-block-inner">
					Total Value: <span id="holdings-total-value"></span><br/>
					Daily Return: <span id="holdings-day-return"></span><br/>
					Total Return: <span id="holdings-total-return"></span><br/>
				</div>
			</div>
			<!-- List View -->
			<div class="list-block inset accordion-list">
				<ul id="holdings-list">
				</ul>
			</div>
		</div>
	</div>
</div>


